/symfony-app/app/config/parameters.yml
/symfony-app/var/
/symfony-app/vendor/
/symfony-app/web/bundles/
/symfony-app/phpunit/clover.xml
!symfony-app/var/cache/.gitkeep
!/symfony-app/var/logs/.gitkeep
!/symfony-app/var/sessions/.gitkeep
!symfony-app/var/SymfonyRequirements.php
.idea
redis/
!redis/.gitkeep
